<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="fias"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.groupstp.fias.entity.Region</class>
        <class>com.groupstp.fias.entity.Autonomy</class>
        <class>com.groupstp.fias.entity.Community</class>
        <class>com.groupstp.fias.entity.Location</class>
        <class>com.groupstp.fias.entity.Street</class>
        <class>com.groupstp.fias.entity.FiasEntity</class>
        <class>com.groupstp.fias.entity.City</class>
        <class>com.groupstp.fias.entity.Area</class>
        <class>com.groupstp.fias.entity.House</class>
        <class>com.groupstp.fias.entity.AdmRegion</class>
        <class>com.groupstp.fias.entity.MunRegion</class>
        <class>com.groupstp.fias.entity.Settlement</class>
        <class>com.groupstp.fias.entity.Locality</class>
        <class>com.groupstp.fias.entity.PlanningStructure</class>
        <class>com.groupstp.fias.entity.DivisionTag</class>
        <class>com.groupstp.fias.entity.Address</class>
        <class>com.groupstp.fias.entity.Stead</class>
    </persistence-unit>
</persistence>
