<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.groupstp.fias/menu.application" insertBefore="administration">
        <item screen="sec$User.browse" caption="msg://com.groupstp.fias.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
    </menu>
    <menu id="application-fias"
          insertBefore="sec$Role.browse">
        <item screen="fias$FiasEntity.browse"/>
        <item screen="fias_House.browse" caption="msg://com.groupstp.fias.web/menu-config.fias$House.browse"/>
        <item screen="fiasClientv2"/>
        <item screen="fias_NormalizeAddress" caption="msg://com.groupstp.fias.web/menu_config.fias_NormalizeAddress"/>
        <item screen="fias_Address.browse" caption="msg://com.groupstp.fias.web/menu_config.fias_Address.browse"/>
    </menu>

</menu-config>